<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PB - create account</title>
    <link rel="stylesheet" href="../static/design.css" />
</head>

<body>
    <h1>price breeze</h1>
    <form>
        <div id="login-info">
            <label> Create Your Account </label>
            <input type="text" placeholder="Username" name="username" />
            <input type="password" placeholder="Password" name="password" />
            <button type="button" onclick="window.location.href='home_page.html'">create account</button>
        </div>

    </form>

</body>

</html>