<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Breeze - Home</title>
    <link rel="stylesheet" href="../../static/homeDesign.css" />
    <link rel = "stylesheet" href = "../../static/background.css?{% now "U" %}">
    <style> @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');</style>
</head>

<body>
    <!-- header with title and navBar details -->
    <header>
        <br/>
        <h1>price breeze</h1>
        <br/>
        <br/>
        <div id = "usernameShow">
            {% if user.is_authenticated %}
            <h3> Welcome {{ user.get_username }} !</h3>
            {% endif %}
        </div>

        <nav class = "navBar">
            <ul>
                <li>|   <a href="{% url 'login'%}">Sign-in</a> | </li>
                <li><a href="{% url 'create_account'%}">Create Account</a> | </li>
                <li><a href="{% url 'home'%}">Home</a> | </li>
                <li><a href="{% url 'list'%}">Shopping List</a> |  </li>
                <li><a href="{% url 'user_profile_view'%}">Profile</a>  |   </li>
            </ul>
        </nav>

    </header>

    <!--background details for floating circles-->
    <section class = "backgroundArea">
            <ul class = "circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    </section>

    <!--search bar input and submission-->
    <section>
        <br/>
        <div id = "searchBar">
            <form method = "POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" name = "searchInput">
            </form>
        </div>
    </section>
    
    <!--search results table output-->
    {% if results is None %}
    {% else %}

        <div id = "table" >

            <button onclick="location.href='{%url 'highPrice'%}'"type="button">Sort Highest to Lowest by Price</button>
            <button onclick="location.href='{%url 'lowPrice'%}'"type="button">Sort Lowest to Highest by Price</button>
            <button onclick="location.href='{%url 'lowName'%}'"type="button">Sort A-Z by Product Name</button>
            <button onclick="location.href='{%url 'highName'%}'"type="button">Sort Z-A by Product Name</button>
            <button onclick="location.href='{%url 'lowStore'%}'"type="button">Sort A-Z by Store Name</button>
            <button onclick="location.href='{%url 'highStore'%}'"type="button">Sort Z-A by Store Name</button>
            <button onclick="location.href='{%url 'reset'%}'"type="button">Reset Results (Display by Relevance)</button>
            
            <table border="1" class="dataframe">
            {% include "item_table_headers.html" %}
            {% include "item_table_entry.html" %} 
            </table>
        </div>

    {% endif %}

</body>
</html>