<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page DraftA</title>
    <link rel="stylesheet" href="static/design.css" />
</head>

<body>
    <header>
        <h1>price breeze</h1>
        <h3> welcome user </h3>
        <nav class = "navBar">
            <ul>
                <li><a href="signin.html">Sign-in</a> | </li>
                <li><a href="createAcc.html">Create Account</a> | </li>
                <li><a href="Home.html">Home</a></li>
            </ul>
        </nav>
    </header>



    <section>
        <br/>
        <p>
            <!--<legend>search with us!</legend>-->
            <input type="text" name="searchInput" placeholder="search...">
            <button type="submit" name="searchButt">Search!</button>
        </p>

    </section>

</body>

</html>