<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>PB create account FORM</title>
   <link rel="stylesheet" href="static/design.css" />
</head>

<body>
   <h1>price breeze</h1>

   <form name="form" action="{% url " breeze.views.login" %}" method="POST">{% csrf_token %}

      <div id="login-info">
         <label> </label>
         <input type="text" placeholder="Username" name="username" />
         <input type="password" placeholder="Password" name="password" />
         <button type="submit" value="Login">
            <strong>Login</strong>
         </button>
      </div>


   </form>


</body>

</html>