{% extends "base.html" %}

{% block content %}
    <header>
        <h1>price breeze</h1>
        
        <nav class = "navBar">
            <ul>
                <li><a href="{% url 'login'%}">Sign-in</a> | </li>
                <li><a href="{% url 'create_account'%}">Create Account</a> | </li>
                <li><a href="{% url 'home'%}">Home</a> | </li>
                <li><a href="{% url 'list'%}">Shopping List</a></li>
            </ul>
        </nav>
    </header>
    
    {% if user.is_authenticated %}
    <p> Welcome to your shopping list, {{ user.get_username }}. </p>
    {% endif %}
    {% for item in item_list %}
        <li>
            <span>Name: {{ item.item_name }}</span>
            <p>Price: {{ item.price }}</p>
            <p>Location: {{ item.location }}</p>
        </li>
    {% endfor %}
{% endblock %}

</html>