{% extends "base.html" %}

{% block content %}
    <header>
        <h1>price breeze</h1>
        {% if user.is_authenticated %}
        <h3> Welcome to your shopping list, {{ user.get_username }} </h3>
        {% endif %}
        
        <nav class = "navBar">
            <ul>
                <li><a href="signin.html">Sign-in</a> | </li>
                <li><a href="createAcc.html">Create Account</a> | </li>
                <li><a href="Home.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <p>
        This is where the shopping list will appear.
    </p>
{% endblock %}

</html>