/*account creation design page*/

.newAcc {
    text-align: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

div button {
    background-color: #EFD3D7;
    width: 300px;
    border: dashed;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 2px 2px 2px 2px gray;
    color:black;
    margin: auto;
    padding: 15px 15px;
    text-align: center;
    display: block;
    position: relative;
    font-size: 20px;
    color: rgb(65, 105, 105);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

button:hover {
    background: #ebbcc3;
}

a {
    color: rgb(65, 105, 105);
    text-decoration: none;
}

#submission{
    float: center;
    padding: 8px;
    margin: 8px 0px 8px 0px;
    cursor: pointer;
}    

p {
    margin: auto;
    padding: 10px 10px 10px 10px;
}    

#login-info input {
    position: relative;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

