/*background design with table properties*/
* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    color: rgb(65, 105, 105);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    z-index: 8;
}

body {
    background-color:#cbc0d3;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    z-index: 9;
    position: relative;
}

.circles {
    position: absolute;
    z-index: -10;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    width: 100%;
    height: 100vh;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #dee2ff;
    animation: animate 15s linear infinite;
    bottom: -150px;
}

    /*circles*/
        .circles li:nth-child(1){
            left: 35%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }

        .circles li:nth-child(2){
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 22s;
        }

        .circles li:nth-child(3){
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: .94s;
        }

        .circles li:nth-child(4){
            left: 90%;
            width: 30px;
            height: 30px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5){
            left: 85%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6){
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7){
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8){
            left: 80%;
            width: 15px;
            height: 15px;
            animation-delay: 17s;
            animation-duration: 35s;
        }

        .circles li:nth-child(9){
            left: 20%;
            width: 18px;
            height: 18px;
            animation-delay: 1.5s;
            animation-duration: 25s;
        }

        .circles li:nth-child(10){
            left: 75%;
            width: 130px;
            height: 130px;
            animation-delay: 0s;
            animation-duration: 10s;
        }

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 34%;
    }

    100%{
        transform: translateY(-1000px) rotate(840deg);
        opacity: 0.5;
        border-radius: 50%;
    }

}


table {
margin-left: auto;
margin-right: auto;
}
