/*homepage design*/

/* welcome _____ !*/
#usernameShow {
    color: #8e9aaf;
    font-size: 100pxpx;
    font-family: 'Poppins', sans-serif;;
}

/*nav bar settings*/
a {
    color: black;
    text-decoration: none;
}

.navBar ul li{
    text-align: center;
    font-size: 20px;
    display: inline;
    font-family: 'Poppins', sans-serif;
}

.navBar ul li a:hover{
    color: #416969;
}

/*searchbar settings*/
#searchBar {
    margin: 8px 0px 8px 0px;
    padding: 14px;
}

#searchBar input{
    box-sizing: border-box;
    margin:10px;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    border-width: 5px;
    border-color: lavender;
}

#searchBar button {
    margin:10px;
    padding: 20px;
    width: 10%;
    border-radius: 20px;
    border-width: 5px;
    background-color: #EFD3D7;
    border-color: lavender;
    color: #416969;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    max-width: fit-content;
    overflow-x: hidden;
}

#searchBar button:hover {
    background: #ebbcc3;
}
