<!DOCTYPE html>
<html>
   
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Price Breeze - Login</title>
   <link rel = "stylesheet" href = "../../static/background.css?{% now "U" %}">
   <link rel="stylesheet" href="../../static/accCreationDesign.css?{% now "U" %}">

</head>

<body>
   <header>
      <br/>
      <h1>price breeze</h1>
      <br/>
   </header>

   <section class = "backgroundArea">
      <ul class = "circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
      </ul>
   </section>


   <section class = "loginAcc">
      <form name="form" method="POST">{% csrf_token %}
         <div id = "login-info">
            {{ form }}
            <br>
            <div id = "submission">
               <br/>
               <br/>
               <br/>
               <br/>
               <br/>
               <br/>
               <button type="submit" value="Login"><strong>Login</strong></button>
               <br/>
               <p> or </p>
               <br/>
               <button><a href="{% url 'create_account'%}"><strong>Create Account</strong></a></button>
               <br/>
               <br/>
               <button onclick="location.href='{% url 'password_reset_request'%}'" type="button"><strong>Reset Password</strong></button>
               
            </div>
         </div>
      </form>
   </section>
</body>
</html>