<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Breeze - New Account</title>
    <link rel="shortcut icon" href="../images/price-breeze-logo.ico">
    <link rel = "stylesheet" href = "../static/background.css?{% now "U" %}">
    <link rel="stylesheet" href="../../static/accCreationDesign.css?{% now "U" %}">
    <style> @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');</style>

<body>
    <header>
        <br/>
        <h1>price breeze</h1>
        <!--<img src="../images/pbLOGO.png" alt="price breeze logo">-->
        <br/>
    </header>

    <section class = "backgroundArea">
            <ul class = "circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    </section>

    <section class = "newAcc">
        <form method="POST">{% csrf_token %}
            <div id="login-info">

                <p>
                {{ form.first_name.label_tag }}
                {{ form.first_name}}
                </p>
                <p>{{form.first_name.help_text}}</p>

                <p>
                {{ form.last_name.label_tag }}
                {{ form.last_name}}
                </p>
                <p>{{form.last_name.help_text}}</p>
               
                <p>
                {{ form.username.label_tag }}
                {{ form.username}}
                </p>
                <p>{{form.username.help_text}}</p>

                <p> 
                {{ form.email.label_tag }}
                {{ form.email }}
                </p>

                <p>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                </p>
                <p>{{form.password1.help_text}}</p>

                <p>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                </p>

                <p>{{form.password2.help_text}}</p>

                {{form.password1.errors}}
                {{form.password2.errors}}

                <div id = "submission">
                    <br/>
                    <br/>
                    <br/>
                    <button class="btn btn-primary" type="submit"><strong>Create Account</strong></button>
                    <br/>
                    <p> or </p>
                    <br/>
                    <!-- <button><a href="{% url 'login'%}"><strong>Login</strong></a></button>-->
                    <button onclick="location.href='{% url 'login'%}'" type="button"><strong>Log In</strong></button>
                    <br/>
                    <br/>
                    <button onclick="location.href='{% url 'password_reset_request'%}'" type="button"><strong>Password Reset</strong></button>
                </div>
            </div>
        </form>
        

        
    </section>
</body>
</html>