<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>account creation</title>
    <link rel = "stylesheet" href = "../static/background.css?{% now "U" %}">
    <link rel="stylesheet" href="../../static/designB.css?{% now "U" %}">
</head>

<body>
    <header>
        <h1>price breeze</h1>
    </header>

    <section class = "backgroundArea">
            <ul class = "circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    </section>

    <section class = "newAcc">
        <form method="POST">{% csrf_token %}
            <div id="login-info">
                {{ form }}
                <div id = "submission">
                    <button class="btn btn-primary" type="submit">Create Account</button>
                    <p> or </p>
                    <button><a href="{% url 'login'%}">Log In</a></button>
                </div>
            </div>
        </form>
        

        
    </section>
</body>
</html>