<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Breeze</title>
    <link rel="shortcut icon" href="../../images/price-breeze-logo.ico">
    <link rel="stylesheet" href="../../static/homeDesign.css" />
    <link rel = "stylesheet" href = "../../static/background.css?{% now "U" %}">
    {% comment %} <link rel = "stylesheet" href = "../../static/design.css?{% now "U" %}"> {% endcomment %}
    <style> @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');</style>
    <!--<link rel="stylesheet" type="text/css" href="..\static\homeDesign.css" />-->
</head>
<body>
    {% block content %}{% endblock %}
</body>